.jumbotron
  %h1.display-4 Welcome to the grant form pipeline

.container
  .row
    .col-md-4.col-md-offset-4.box
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title What would you like to do?
        .panel-body
          %ul
            %li.btn.btn-success
              #{link_to "Send a proposal", new_pipe_path}
            %li.btn.btn-success
              #{link_to "Login", '/login'}
