#page-wrapper
  .row
    .col-lg-12
      %h1.page-header Edit a grant proposal
    / /.col-lg-12
  / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          You are about to edit this grant. Maybe you wanted to consult with the sender first?
        .panel-body
          .row
            .col-lg-8
              = render 'form', pipe: @pipe
          .row
            .col-lg-8
              = link_to 'delete', pipe_url(@pipe), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'

            / /.col-lg-8 (nested)
          / /.row (nested)
        / /.panel-body
      / /.panel
    / /.col-lg-12
  / /.row
/ /#page-wrapper
