#page-wrapper
  .row
    .col-lg-12
      %h1.page-header Send a new grant proposal
    / /.col-lg-12
  / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          Please give us more information about your proposal. This will allow the grants (and the proposals!) to move faster. Please answer as many questions as you can.
        .panel-body
          .row
            .col-lg-12
              = render 'form', pipe: @pipe

            / /.col-lg-8 (nested)
          / /.row (nested)
        / /.panel-body
      / /.panel
    / /.col-lg-12
  / /.row
/ /#page-wrapper
