- provide(:title, "pipe: #{@pipe.id}")
#page-wrapper
  .row
    .col-lg-12
      %h1.page-header pipe: #{@pipe.id} from: #{@pipe.email}
    / /.col-lg-12
    / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          pipe: #{@pipe.id}
        / /.panel-heading
        .panel-body
          %table#dataTables-example.table.table-striped.table-bordered.table-hover{:width => "100%"}
            %thead
              %tr
                %th Email
                %th Description
                %th Problem
                %th Trac Ticket
                %th Link
                %th Groups
                %th Success
                %th Timeframe
                %th Start date
                %th Urgency
                %th Budget
                %th Funding information
                %th Additional funding information
                %th Edit
            %tbody
              %td
                = @pipe.email
              %td
                = @pipe.description
              %td
                = @pipe.status
              %td
                = @pipe.ticket
              %td
                = @pipe.link
              %td
                = @pipe.groups
              %td
                = @pipe.success
              %td
                = @pipe.timeframe
              %td
                = @pipe.start
              %td
                = @pipe.urgency
              %td
                = @pipe.budget
              %td
                = @pipe.funding
              %td
                = @pipe.additional_funding
              %td
                #{link_to 'edit', edit_pipe_url(@pipe)}

    / /.col-lg-12
  / /.row
/ /#page-wrapper%tr.odd
